/*----  common  ----*/
*{margin: 0;padding: 0;}
img{
    border:none;
}
.row{
	position: relative;
	display: block;
	clear: both;
}
#viewport{
	width: 100%;
	overflow: hidden;
}
#pageWrapper{
	width: 966px;
	margin: 0 auto;
}
ul,li,ol{
    list-style: none;
    background: none;
}
a{
    text-decoration: none;
}
/*---- header ----*/
.header{
    height: 152px;
}
/*----  logo and search-form ----*/
.logo{
    position: absolute;
    left: 0;
    top: 60px;
}
.search{
    position: absolute;
    right: 1px;
    top: 80px;
}
.search input{
    _margin-right: 5px;
    padding-right: 20px;
    background: url(../images/search.jpg) right center no-repeat;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 0;
    vertical-align: middle;
    outline: none;
}
.search input[type="text"]:focus{
    border-color: rgba(82, 168, 236, 0.8);
}
.search .btn{
    border: none;
    background: #013a89;
    color: #fff;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
}
/*----  top-menu  ----*/
.top-menu{
    height: 25px;
    width: 100%;
    margin-top: 5px;
}
.top-menu ul{
    float: right;
}
.top-menu ul li{
    float: left;
    border-right: 1px solid #222;
}
.top-menu ul li a{
    height: 20px;
    line-height: 20px;
    color: #3e7691;
    font: 14px/1.5 Georgia, Arial, Tahoma, Geneva;
    display: inline-block;
    padding: 0 10px;
}
.top-menu ul li a:hover{
    color: #ff0000;
}
.top-menu ul li.top-menu-last{
    border: none;
}

/*----  nav-menu  ----*/
.nav-menu{
    position: absolute;
    width: 100%;
    top: 130px;
    left: 0;
    z-index: 99;
}
.nav-menu ul{
}
.nav-menu ul li{
    float: left;
    background: #013a89;
    margin-right: 1px;
}
.nav-menu ul li.nav-menu-last{
    margin-right: 0;
}
.nav-menu ul li a{
    display: block;
    height: 30px;
    width: 137px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font: 15px/2 Georgia, Arial, Tahoma, Geneva;
}
/*----  首页焦点图slider  -----*/
.slider_can{
    margin-top: 20px;
    margin-bottom: 30px;
    width:966px;
    height:398px;
    overflow:hidden;
    position:relative;
}
.slider_item{
    float:left;
    width:966px;
    height:398px;
    position:relative;
}
.slider_item p{
    /*background:black !important;*/
    /*_background:none;*/
    left: 1px;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:40px;
    line-height:40px;
    font-size:16px;
    text-align:left;
    padding-left:15px;
    color:white;
    position:absolute;
    bottom:30px;
    opacity:0.9;
    filter:alpha(opacity=90);
}
.slider_item a{
    display:inline-block;
    height:100%;
    width:100%;
}
.slider_item a img{
    width:966px;
    height:398px;
}
#slider_control{
    position:absolute;
    right:11px;
    bottom:11px;
}
#slider_control i{
    display:inline-block;
    height:15px;
    width:15px;
    border-radius:8px;
    /*background-color:#b0b0b0;*/
    background-image: url(../images/slider_control.png) !important;
    background-image: url(../images/slider_control.gif);
    background-position: 0 0;
}
#slider_control i:hover,
#slider_control i:focus,
#slider_control i.now{
    background-position: -15px 0px;
}
#slider_control_left,
#slider_control_right{
	width: 55px;
	height: 55px;
    position:absolute;
    top:160px;
    z-index: 99999999;
}
#slider_control_left{
    left: 0;
}
#slider_control_right{
    right: 0;
}
#slider_control_right a,#slider_control_left a{
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
#slider_control_left a{
    background: url(../images/homeslide-prev.png);
}
#slider_control_right a{
    background: url(../images/homeslide-next.png);
}

/*---- main content ----*/
/*校长寄语*/
.aside{
    height: 520px;
    margin-bottom: 20px;
    font-family: verdana,"Microsoft Yahei","Microsoft Jhenghei",STHeiti,PMingLiU,Simsun;
}
h1,h2,h3{
    color: #013a89;
    font-weight: normal;
    font-family: "微软雅黑","黑体";
}
.aside h2{
    margin-top: 20px;
    font-size: 26px;
}
.aside h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
}
div.h-desc{
    height: 20px;
    line-height: 20px; 
    border-bottom: 1px solid #013a89;
    margin-bottom: 5px;
}
.h-desc span{
    float: left;
    font-size: 12px;
    display: block;
}
.h-desc a{
    color: #013a89;
    float: right;
    display: block;
    font-size: 12px;
}
.aside p{
    font-size: 12px;
    text-indent: 2em;
    margin-top: 10px;
    line-height: 22px;
    font-family: Georgia, Arial, Tahoma, Geneva;
}
.message-aside{
    padding: 0 20px;
    width: 284px;
    float: left;
    border-top: 3px solid #656565;
    background: #f0f0f0;
    /*border: 1px solid red;*/
}
/*右边四格*/
.grid-aside{
    width: 606px;
    float: right;
    border-top: 3px solid #124892;
    position: relative;
}
.grid-top{
    height: 250px;
    width: 285px;
}
.left-top,.left-bottom{
    float: left;
}
.right-top,.right-bottom{
    float: right;
}

.news-row{
    height: 95px;
    margin-bottom: 5px;
}
.news-row h4{
    padding-top: 5px;
    font-size: 14px;
    font-weight: normal;
}
.news-row a{
    color: #222;
}
.news-row a:hover{
    color: red;
}
.news-row a.show{
    float: left;
    display: block;
    width: 127px;
    height: 95px;
    margin-right: 10px;
}
.news-row .show:hover{
    -webkit-box-shadow: 0 0 1px 1px rgba(50,50,50,0.5);
    -moz-box-shadow: 0 0 1px 1px rgba(50,50,50,0.5);
    box-shadow: 0 0 1px 1px rgba(50,50,50,0.5);
}
.news-row p{
    font-size: 12px;
    color: #666;
}
.news-row img{
    width: 100%;
    height: 100%;
}

.rt-img,.rt-img img{
    position: relative;
    width: 285px;
    height: 194px;
}
.rt-img img{
    position: absolute;
}
.video-mask{
    display: block;
    position: absolute;
    width: 285px;
    height: 194px;
    background: #000;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor: pointer;
}
.video-mask:hover{
    opacity: 0.5;
    filter:alpha(opacity=50);
}

.grid-bottom{
    width: 285px;
    height: 204px;
    margin-top: 40px;
    *margin-top: 0;
}

.left-bottom ul{
    position: relative;
}
.left-bottom ul li{
    font-family: Georgia, Arial, Tahoma, Geneva;
    margin-bottom: 7px;
}
.left-bottom ul li span{
    display: inline-block;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    _margin-right: 10px;
}
.left-bottom ul li a{
    color: #666;
    font-size: 12px;
}
.left-bottom ul li a:hover{
    color: red;
}
.right-bottom a.fl{
    display: block;
    float: left;
    margin-right: 10px;
}
.right-bottom img{
    width: 92px;
    height: 70px;
}
.right-bottom p{
    line-height: 24px;
}

/*footer*/
.footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #ddd;
}